= form_for @category do |f|
  = render partial: 'blogasaurus/shared/errors', object: f.object
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :slug
    = f.text_field :slug, class: 'form-control'
  .form-group
    = f.label :photo
    = f.file_field :photo, class: 'form-control'
  .form-group
    = f.label :description
    = f.cktext_area :description, class: 'form-control'
  = f.submit
